#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}

#draggable1 {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

#droppable1 {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

.ui-controlgroup-vertical {
    width: 150px;
}

.ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
    text-align: center;
}

#car-type-button {
    width: 120px;
}

.ui-controlgroup-horizontal .ui-spinner-input {
    width: 20px;
}
